.stylesMain {
  margin: 0px auto;
  width: 85%;
  color: #777777;
}

/* 3.5 out of 5 stars */
.stylesAvgRatingText {
  display: block;
  font-size: 13px;
  padding: 14px 0 9px 0;
}

/* how many stars does this bar represent */
.stylesStarText {
  font-size: 11px;
}

/* grey bar */
.stylesBar {
  background-color: #eee;
  background: linear-gradient(to bottom, #999, #ccc 6%, #eee 20%, #eee 100%);
  border-right: 1px solid #ddd;
  width: 200px;
  height: 18px;
  margin: 3px 0;
}

/* invisible percentage bar for the yellow bar to fill up */
.stylesBarOuter {
  height: 100%;
}

/* yellow bar */
.stylesBarInner {
  border-radius: 1px;
  background: #ffbb00;
  background: -webkit-linear-gradient(top, #ffce00, #ffa700);
  background: linear-gradient(to bottom, #ffce00, #ffa700);
  background-color: #ffce00;
  border: 1px solid #b80;
  position:relative;
  top:-1px;
  left:-1px;
  height:100%;
  width:100%;
  overflow:hidden;
  animation-delay: 0.25s;
  animation: show-bar 1s;
}

@keyframes show-bar {
  0% { width: 0%; display:block; }
  1% { width: 1%; }
  100% { width: 100%; }
}

.stylesPercentageText {
  position: relative;
  left: 8px;
  font-size: 11px;
}

.stylesSeeAllReviews {
  font-size: 12px;
  padding: 8px 0;
  display: block;
}
