:local .mainPhoto {
  display: flex;
  width: 50vmin;
  height: 50vmin;
}

:local .mainFrame {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

:local .mainFrame > img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  object-fit: cover;
}

:local .mainPhoto > div {
  overflow: hidden;
}

:local .zoomFrame {
  border-style: solid;
  border-width: 1px;
  box-shadow: 0.85vmin 0.85vmin lightgray;
  position: absolute;
  margin-left: 55vmin;
}

:local .zoomFrame > img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

:local .blueBox {
  position: absolute;
}

:local .blueBox > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

