:local .mainPhoto {
  display: flex;
  width: 25vw;
  height: 25vw;
}

:local .mainFrame {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

:local .mainFrame > img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  object-fit: cover;
}

:local .mainPhoto > div {
  overflow: hidden;
}

:local .zoomFrame {
  outline: 1px solid #aaa;
  box-shadow: 0vmin 0.5vmin 1vmin #ddd;
  background-color: white;
  position: absolute;
  z-index: 99;
  left: 77vmin;
  margin-top: -1vmin;
}

:local .zoomFrame > img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

:local .blueBox {
  position: absolute;
}

:local .blueBox > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
