:local .photoGallery {
  /* width: 75vmin; */
  /* width: 65vw; */
  display: flex;
  margin-right: 3vw;
  flex: 1;
}

:local .photoList {
  display: inline;
  margin: 0 2vmin;
}

:local .mainPhoto {
  display: inline;
  /* margin: 1.7vmin 1.7vmin 1.7vmin 3.4vmin; */
  margin-right: 0.85vmin;
}

:local .rollOverText {
  text-align: center;
  font-size: 2vmin;
  color: #555;
}
