:local .photoListItem > div {
  margin: 1.7vmin;
  width: 8vmin;
  height: 8vmin;
  border: 1px lightgrey;
  border-style: solid;
  border-radius: 1px;
}

:local .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:local .img:hover {
  outline: .34vmin solid orange;
  border-radius: 2px;
}

.local .img:focus { 
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 1.7vmin #9ecaed;
}