.stylesMain {
  position: absolute;
  margin-left: -74px;
  width: 200px;
  height: 80px;
  cursor: default;
}

.stylesPopup {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  display: block;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
}
