.styleMain {
  display: inline-block;
  width: 105px;
  cursor: pointer;
  position: relative;
}

.styleStars {
  display: inline-block;
  width: 83px;
  background-image : url('https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_2x-01a49470266a51f632dab1aef2fc09112d280c1e._V2_.png');
  background-position: -86px -375px;
  background-size: 408px auto;
}

.styleArr {
  display: inline-block;
  width: 20px;
  background-image : url('https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_2x-01a49470266a51f632dab1aef2fc09112d280c1e._V2_.png');
  background-position: -383px -82px;
  background-size: 408px auto;
}

.s5 { background-position-x: -4px; }
.s45 { background-position-x: -177px; }
.s4 { background-position-x: -21px; }
.s35 { background-position-x: -194px; }
.s3 { background-position-x: -37px; }
.s25 { background-position-x: -210px; }
.s2 { background-position-x: -53px; }
.s15 { background-position-x: -227px; }
.s1 { background-position-x: -70px; }
.s05 { background-position-x: -243px; }
.s0 { background-position-x: -86px; }
