.styleMain {
    margin: 15px 0 23px 0;
}

.styleDropdownBg {
  border: 1px solid #a6a6a6;
  height: 30px;
  width: 80px;
  background-image: url('./select_bg.png');
  background-position: center right;
  margin-top: 6px;
  line-height: 20px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.styleDropdownText {
  margin-right: 12px;
}

.styleDropdownSelect {
  -webkit-appearance: none;
  opacity:0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.styleDropdown:hover {
  background-image: linear-gradient(#eaecee, #dadcde);
}

.styleCategory {
  font-weight: 700;
  display: block;
}
