.style_main {
    margin: 15px 0 23px 0;
}

.style_dropdown {
  margin-top: 6px;
  width: 70px;
  height: 20px;
  -webkit-appearance: menulist-button;
}

.style_category {
  font-weight: 700;
  display: block;
}
