.styleMain {
    margin: 15px 0 23px 0;
}

.styleDropdown {
  margin-top: 6px;
  width: 130px;
  height: 20px;
  line-height: 20px;
  -webkit-appearance: none;
}

.styleCategory {
  font-weight: 700;
  display: block;
}
